<html>
  <head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💨</text></svg>">
    <title>Bouldering gym</title>
    <meta name="description" content="Bouldering capacity and stats (Fremont)">
    <link rel="stylesheet" href="{{ "/css/boulder.css" | prepend: site.baseurl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
  </head>
  <body>
    {{ content }}
  </body>
  {% include footer.html %}
</html>

